@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import "tailwindcss";

@theme {
  --color-dark-neon-green: #00ba93;
  --color-neon-green: #41fad3;
  --color-dark: #191d1a;
  --color-gray: #92969d;
  --color-info-gray: rgba(255, 255, 255, 0.6);
}

body,
html {
  font-family: "Inter", sans-serif !important;
}

body {
  @apply bg-[#f2f2f2];
}

.header-bg {
  background: linear-gradient(163.39deg, #242424 45.22%, #606060 97.86%);
}

*,
body,
html {
  overscroll-behavior: none;
  outline: none;
}
*:focus,
*:focus-visible,
*:focus-within {
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.material-symbols-sharp {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.material-symbols-outlined.fill {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.material-symbols-rounded.fill {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.material-symbols-sharp.fill {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.shadow-01 {
  box-shadow: 0px 2px 2px rgba(96, 96, 96, 0.05);
}
